<h3>Known Languages</h3>
<div class="skills_wrapper_div">
  {%- for language_icon in include.known-languages.language_icons -%}
    <img
      alt="Known Language Icon"
      src="{{ site.baseurl }}/assets/img/{{ include.known-languages.icon_path }}/{{ language_icon.filename }}"
      title="{{ language_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Frameworks/Tools</h3>
<div class="skills_wrapper_div">
  {%- for framework_system_icon in include.frameworks-systems.framework_system_icons -%}
    <img
      alt="Framework/Tool Icon"
      src="{{ site.baseurl }}/assets/img/{{ include.frameworks-systems.icon_path }}/{{ framework_system_icon.filename }}"
      title="{{ framework_system_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Editors</h3>
<div class="skills_wrapper_div">
  {%- for editor_icon in include.editors.editor_icons -%}
    <img
      alt="Editor Icon"
      src="{{ site.baseurl }}/assets/img/{{ include.editors.icon_path }}/{{ editor_icon.filename }}"
      title="{{ editor_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Actively Learning</h3>
<div class="skills_wrapper_div">
  {%- for icon in include.actively-learning.icons -%}
  <img
          alt="Language Learning Icon"
          src="{{ site.baseurl }}/assets/img/{{ include.actively-learning.icon_path }}/{{ icon.filename }}"
          title="{{ icon.title }}"
  />
  {%- endfor -%}
</div>
