<div class="records-wrapper">
  <h2 class="records-title" id="collection-title">My Collection</h2>
  <table class="records" aria-describedby="collection-title">
    <thead>
      <th id="collection-album-art-header">Album Art</th>
      <th id="collection-title-header">Title</th>
      <th id="collection-artist-header">Artist</th>
      <th id="collection-genre-header">Genre</th>
      <th id="collection-style-header">Style</th>
      <th id="collection-release-header">Release</th>
    </thead>
    <tbody>
      {% for record in site.data.vinyl.collection.releases %}
        <tr>
          <td>
            <div class="records_img">
              <img
                alt="Basic Information Cover Image"
                src="{{ record.basic_information.cover_image }}"
              />
            </div>
          </td>
          <td>
            <a
              href="https://www.discogs.com/release/{{ record.id }}"
              target="_blank"
            >
              {{ record.basic_information.title }}
            </a>
          </td>
          <td>
            {% for artist in record.basic_information.artists %}
              {{ artist.name }}{% if forloop.last == false %}<hr /> {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for genre in record.basic_information.genres %}
              {{ genre }}{% if forloop.last == false %}<hr /> {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for style in record.basic_information.styles %}
              {{ style }}{% if forloop.last == false %}<hr /> {% endif %}
            {% endfor %}
          </td>
          <td>{{ record.basic_information.year }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>