<div class="wanderlog-container">
    <script>
        window.wanderlogEmbedKeys=window.wanderlogEmbedKeys||[];
        window.wanderlogEmbedKeys.push('wnhmdoiids');

        window.wanderlogEmbedOptions={"alwaysShowRouteLines":true,"version":2};
        !function(){
            var c=document.querySelectorAll("script"),r=!1;
            if(c.forEach((function(c){"https://wanderlog.com/embed.js"===c.src&&(r=!0)})),!r) {
                var t=document.createElement("script");
                t.async=!0,t.src="https://wanderlog.com/embed.js",document.body.appendChild(t)
            }
        }();
    </script>
    <div id="Wanderlog__mapEmbed_wnhmdoiids" class="wanderlog-map">
        <div style="font-size: smaller; margin-bottom: 8px">
            This map was made with <a href="https://wanderlog.com/" target="_blank" rel="noopener">Wanderlog</a>
            , a travel planner on <a href="https://apps.apple.com/us/app/wanderlog/id1476732439" target="_blank" rel="noopener">iOS</a>
            and <a href="https://play.google.com/store/apps/details?id=com.wanderlog.android" target="_blank" rel="noopener">Android</a>
        </div>
    </div>
</div>
