/* Github Follow Button */
.widget-lg .btn, .widget-lg .social-count {
    height: 35px !important;
    padding: 10px 30px 1px !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

/* Skills section */
.skills_wrapper_div {
    flex-direction: row;
}

.skills_wrapper_div img {
    width: 48px;
    height: 48px;
    margin: 8px;
}

.company-logo {
    width: 100%;
    border-radius: 4%;
    filter: drop-shadow(5px 5px 5px gray);
}

#profile-card {
    text-align: center;

    #author-img{
        text-align: center;
    }

    .profile-img {
        width: 70%;
        border-radius: 4%;
        filter: drop-shadow(5px 5px 5px gray);
        margin: 0;
    }

    .profile-name {
        margin-top: 20px;
    }

    .profile-bio,
    .profile-links {
        margin-top: 5px;
    }

    .social-link {
        color: var(--social-link-color) !important;
        font-size: 15px;
        padding: 5px;
        margin: 2px;
        text-decoration: none !important;
    }

    #header-nav{
        float: right;
        margin-inline-start: 45px;
    }

    #navigation{
        margin-top:50px;
    }

    .nav-link {
        font-size: 15px !important;
        color: var(--main-text-color);
        font-weight: 600;
    }

}

#author_projects {

    .project-img {
        width: 250px;
        height: 250px;
    }

    #project-card{
        margin-top: 30px;
    }

    .project-link{
        color: var(--link-color);
    }

}

/* Homepage project cards*/
#project-card {
    margin: 0px !important;
}

#article {
    margin-left: 35px !important;
    margin-top: 20px !important;
}

.project_thumbnail {
    text-align: center;
}

.project-img {
    width:150px;
    height:100px;
}

.project_details {
    padding: 10px;
}

.project_links {
    margin: 4px;
    padding-top: 32px;
    padding-left: 50px !important;
}

.strava-follow-btn {
    display:inline-block;
    background-color:#FC5200;
    width: fit-content;
    margin: auto;
    color:#fff !important;
    padding:5px 10px 5px 30px;
    font-size:11px;
    font-family:Helvetica, Arial, sans-serif;
    white-space:nowrap;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position:10px center;
    border-radius:3px;
    background-image:url('https://badges.strava.com/logo-strava-echelon.png')
}
