#newsletter_footer {
    background-color: var(--newsletter-background-color);
    color: var(--main-text-color);
    text-align: center;
    margin-top: 100px;
}

#mc-embedded-subscribe-form {
    width: 100%;
    padding: 50px;
}

#mc_embed_signup_scroll_footer {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 22px;
}

#mce-EMAIL_footer {
    width: 400px;
    padding: 14px;
    color: #111;
    border-color: #111;
    background: bisque;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
}

#mc-embedded-subscribe_footer {
    margin-top: 30px;
}

footer {
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 20px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}