.ps-logo {
  display: inline-block;
  width: 10%;
}

.game-card {
  margin: 30px auto;
  max-width: 100%;
  padding: 20px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px #00439C);
}

.trophy-img {
  display: inline-block;
  width: 12%;
  margin: 0 0 5px 0;
  filter: drop-shadow(5px 5px 5px gray);
}

.trophy-icon {
  display: inline-block;
  width: 7%;
  margin: 1px;
  filter: drop-shadow(5px 5px 5px gray);
}

.game-img {
  display: inline-block;
  float: right;
  margin: 0;
  width: 40%;
  background-color: black;
  border-radius: 4%;
  filter: drop-shadow(10px 10px 11px gray);
}

.game-title {
  display: inline-block;
  font-weight: bolder;
  font-size: 3.2vw;
  margin: auto;
  width: 60%;
  float: left;
}
