.records-container {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #00439C);
    width: 600px;
    max-width: 100%;
}

.records-title {
    margin: 20px auto;
}

.records-img {
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
    margin: 0 10px 0 0;
    text-align: center;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.records-details {
    width: calc(50% - 10px);
    float: right;
    text-align: left;
}

.records-img img {
    width: 100%;
}

.vinyl-container {
    width: 80%;
    margin: 3% 10%;
}
