---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img
          alt="Profile Image"
          src="{{site.baseurl}}/assets/img/{{ site.data.author.details.logo }}"
          class="profile-img author-profile-img"
        />
      </a>
      <h1 class="profile-name">
        {{ site.title }}
      </h1>
      <p class="profile-bio">
        {{ site.subtitle }}
      </p>
      {% if site.data.author.details.github_username %}
        {%- include github_follow_button.html -%}
      {% endif %}
      {% if site.data.author.details.strava_username %}
        {%- include strava_follow_button.html -%}
      {% endif %}
      <p class="profile-links">
        {% if site.data.author.details.twitter_username %}
          <a
            class="social-link"
            href="http://twitter.com/{{ site.data.author.details.twitter_username }}"
            target="_blank"
          >
            <em class="fab fa-twitter"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.facebook_username %}
          <a
            class="social-link"
            href="http://facebook.com/{{ site.data.author.details.facebook_username }}"
            target="_blank"
          >
            <em class="fab fa-facebook-f"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.instagram_username %}
          <a
            class="social-link"
            href="http://instagram.com/{{ site.data.author.details.instagram_username }}"
            target="_blank"
          >
            <em class="fab fa-instagram"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.medium_username %}
          <a
            class="social-link"
            href="http://medium.com/@{{ site.data.author.details.medium_username }}"
            target="_blank"
          >
            <em class="fab fa-medium-m"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.behance_username %}
          <a
            class="social-link"
            href="http://behance.net/{{ site.data.author.details.behance_username }}"
            target="_blank"
          >
            <em class="fab fa-behance"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.linkedin_username %}
          <a
            class="social-link"
            href="http://linkedin.com/in/{{ site.data.author.details.linkedin_username }}"
            target="_blank"
          >
            <em class="fab fa-linkedin-in"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.spotify_username %}
          <a
            class="social-link"
            href="https://open.spotify.com/user/{{ site.data.author.details.spotify_username }}"
            target="_blank"
          >
            <em class="fab fa-spotify"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.apple_music_username %}
        <a
                class="social-link"
                href="https://music.apple.com/profile/{{ site.data.author.details.apple_music_username }}"
                target="_blank"
        >
          <em class="fab fa-apple"></em>
        </a>
        {% endif %}
        {% if site.data.author.details.strava_username %}
        <a
                class="social-link"
                href="https://www.strava.com/athletes/{{ site.data.author.details.strava_username }}"
                target="_blank"
        >
          <em class="fab fa-strava"></em>
        </a>
        {% endif %}
        {% if site.data.author.details.soundcloud_username %}
          <a
            class="social-link"
            href="https://soundcloud.com/{{ site.data.author.details.soundcloud_username }}"
            target="_blank"
          >
            <em class="fab fa-soundcloud"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.discogs_username %}
          <a
            class="social-link"
            href="https://www.discogs.com/user/{{ site.data.author.details.discogs_username }}"
            target="_blank"
          >
            <em class="fas fa-compact-disc"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.telegram_username %}
          <a
            class="social-link"
            href="http://t.me/{{ site.data.author.details.telegram_username }}"
            target="_blank"
          >
            <em class="fab fa-telegram-plane"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.dribbble_username %}
          <a
            class="social-link"
            href="https://dribbble.com/{{ site.data.author.details.dribbble_username }}"
            target="_blank"
          >
            <em class="fab fa-dribbble"></em>
          </a>
        {% endif %}
        {% if site.data.author.details.flickr_username %}
          <a
            class="social-link"
            href="https://www.flickr.com/photos/{{ site.data.author.details.flickr_username }}"
            target="_blank"
          >
            <em class="fab fa-flickr"></em>
          </a>
        {% endif %}
      </p>
      {% if site.data.author.details.location %}
        <h6>
          <em class="fas fa-map-marker-alt"></em> {{ site.data.author.details.location }}
        </h6>
      {% endif %}
      {% if site.data.author.details.email %}
        <h6>
          <em class="fas fa-envelope"></em> {{ site.data.author.details.email }}
        </h6>
      {% endif %}
      {% if site.data.author.details.website_url %}
        <h6>
          <em class="fas fa-link"></em> {{ site.data.author.details.website_url }}
        </h6>
      {% endif %}
    </div>
    <div class="card">
      <h1>
        Skills
      </h1>
      {%-
        include author_skills.html
          known-languages = site.data.skills.known-languages
          actively-learning = site.data.skills.actively-learning
          frameworks-systems = site.data.skills.frameworks-systems
          editors = site.data.skills.editors
      -%}
    </div>
  </div>
  <div class="col-lg-7">
    {% if site.data.author.details.bio %}
      <div class="card">
        <h1 class="card-title">
          About
        </h1>
        <p>
          {{ site.data.author.details.bio }}
        </p>
      </div>
      {% if site.show_author_work_experiences == true %}

        <div class="card">
          <h1 class="card-title">
            Work Experience
            {% if site.data.author.details.linkedin_username %}
              <a
                class="social-link"
                href="http://linkedin.com/in/{{ site.data.author.details.linkedin_username }}"
                target="_blank"
              >
                <em class="fab fa-linkedin-in"></em>
              </a>
            {% endif %}
          </h1>
          <br />
          {% for exp in site.data.author.details.work_experiences %}
            {% if exp.visibility == true %}
              <div class="row">
                <div class="col-md-2 company-logo-wrapper">
                  <img
                    alt="Company Logo"
                    src="{{site.baseurl}}/assets/img/{{ exp.company_logo }}"
                    class="company-logo"
                  />
                </div>
                <div class="col-md-6">
                  <h3 class="experience-info">
                    <a href="{{exp.company_url}}">
                      {{ exp.company_name}}
                    </a>
                  </h3>
                  <h4 class="experience-title">
                    {{ exp.designation }}
                  </h4>
                  <h6 class="experience-info">
                    {{exp.time_period_at_company}}
                  </h6>
                </div>
              </div>
            {% endif %}
            <br />
          {% endfor %}
        </div>
      {% endif %}
      {% if site.show_author_education_details == true %}
        <div class="card">
          <h1 class="card-title">
            Education
          </h1>
          <br />
          {% for detail in site.data.author.details.education_details %}
            {% if detail.visibility == true %}
              <div class="row">
                <div class="col-md-2 company-logo-wrapper">
                  <img
                    alt="Company Logo"
                    src="{{site.baseurl}}/assets/img/{{ detail.college_logo}}"
                    class="company-logo"
                  />
                </div>
                <div class="col-md-6">
                  <h3 class="experience-info">
                    <a href="{{detail.college_url}}">
                      {{detail.college_name}}
                    </a>
                  </h3>
                  <h4 class="experience-title">
                    {{detail.college_degree}}
                  </h4>
                  <h5 class="experience-title">
                    {{detail.college_graduation_month}}
                  </h5>
                  <h6 class="experience-title">
                    {{detail.college_minors}}
                  </h6>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
