---
layout: page
---

<h1 class="text-center">
    My Playstation Trophy Showcase
</h1>
<hr />
<div style="text-align:center">
    Ever since I was a younger lad, the completionist in me was chasing that 100% in
    any game I played. Whether it was quests in Runescape, stars in Mario Galaxy, or
    characters in the Lego Star Wars games, I was gonna unlock and achieve it all.
    <br /><br />
    These days, though I don't have as much time, I find I'm able to scratch this itch
    through the developer driven Trophy lists curated for the Playstation consoles.
    <br /><br />
    That all being said, here's my sort of PSN Trophy Showcase. Is this really anything
    you need, or want, to know? Nah, not really, but it's here!
    <br /><br />
    Also, much like other data on this site, you can find that it is updated straight from
    the PSN API automatically via a GitHub Worfklow I built.
</div>
<hr />

{% include ps_trophies_container.html %}
