--- 
layout: page 
---

<h1 class="text-center">
  My SoundCloud Showcase
</h1>
<hr />
<div style="text-align:center">
  Alright look, I do in fact have a few songs posted on SoundCloud which you
  are allowed to listen to and judge me severely... HOWEVER, this is my warning
  that I am in fact not very talented when it comes to creating music... so far...
  <br /><br />
  Luckily there are number of extremely talented artists on the world's largest
  music and audio streaming platform, SoundCloud! Below you will find some of my favorites
  I've had the pleasure of finding on this wonderful platform.
  <br /><br />
  I'll be updating this from time to time, so feel free to swing by now and then!
</div>
<hr />

{% include soundcloud_item.html %}

<h3 style="text-align: center;">More to come!</h3>