---
layout: page
---

<h1 class="text-center">
    My Personal Projects
</h1>

<hr />
<div>
    Here are some projects I've worked through my career off to the side. One of the greatest
    parts about coding is just how much there is out there to explore. When I see a problem
    that can be aided through programming, I'll take the opportunity to get clacking the
    keyboards. Feel free to check out the GitHub repos linked, or even the projects themselves
    in action!
</div>
<hr />

{% include personal_projects_container.html %}
