---
layout: default
---

<div class="row" id="blog-posts-container">
  <div class="col-lg-11 offset-md-1">
    <div class="card">
      <h1 class="card-title">
        Travel Gallery
      </h1>
      <div>
        <div class="row">
          {% for gallery in site.data.travel-galleries.overview %}
            <div class="card album-container">
              <div class="card-title">
                {{gallery.title}}
              </div>
              <a class="cover-photo-link" href="{{ gallery.google-album }}" target="_blank">
                <div class="row cover-photo-container">
                  <img
                    class="img-thumbnail cover-photo"
                    alt="{{ gallery.title }}"
                    src="{{ site.baseurl }}/assets/img/gallery/{{ gallery.preview.original }}"
                  />
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>