---
layout: page
---

<h1 class="page-title">
    <img alt="PS logo" class="ps-logo" src="{{ site.baseurl }}/assets/img/trophies/ps_logo.png" /> My Playstation Trophy Showcase
</h1>

<hr />
<div>
    Ever since I was a younger lad, the completionist in me was chasing that 100% in
    any game I played. Whether it was quests in Runescape, stars in Mario Galaxy, or
    characters in the Lego Star Wars games, I was gonna unlock and achieve it all.
    These days, though, I don't have as much time; however, I've found that I'm able to
    scratch that itch through the developer-driven trophy lists curated for titles on the
    Playstation consoles. That all being said, here's my sort of PSN Trophy Showcase.
    Is this really anything you need, or want, to know? Nah, not really, but it's here!
    <br /><br />
    This data has been collected, mapped, and reduced via multiple services by yours truly.
    These processes are completed automatically via GitHub Workflows & a Typescript job
    I have configured myself.
</div>
<hr />

{% include trophies_container.html %}
