---
layout: default
---

<div class="vinyl-container">
    <h1 class="text-center">
      My Vinyl Collection
    </h1>
    <hr />
    <div style="text-align:center">
      Maintaining a vinyl collection is honestly one of the best hobbies I picked up.
      After being lent a starter pack of records from my Dad who has a quite large,
      older collection, I went out and got myself a Fluance RT81 player. The quality of
      these tunes pumping out my old Bose speakers is *mwah* 10/10. Below you'll see
      my collection and my wantlist, which is automatically updated based on what I have
      set in my Discogs account via GitHub Actions.
    </div>
    <hr />
    {% include vinyl_wantlist.html %}
    {% include vinyl_collection.html %}
</div>
