---
layout: default
---

<div class="vinyl-container">
    <h1>My Vinyl Collection</h1>
    <p>
        When my dad was at Syracuse University, he ran a record shop which was pretty successful.
        In those efforts, he left campus with quite a large collection of records. Because of this,
        I have been lucky enough to get my hands on some truly great records, which I am very thankful
        for. My goal is to always improve this collection, and of course listen to and appreciate music
        the way it was meant to be listened to.
        <br />
        <br />
        I will be updating this page from time to time, so feel free to swing by from time to time!
    </p>
    {% include vinyl_wantlist.html %}
    {% include vinyl_collection.html %}
</div>
